.file-uploader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
    border: 2px dashed #28a745;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .file-uploader:hover {
    background-color: #e9f5ea;
    border-color: #218838;
  }
  
  .upload-icon {
    font-size: 40px;
    margin-bottom: 10px;
    transition: color 0.3s ease;
    color: #218838; /* Color gris para la nube */
  }
  
  .success {
    color: #218838; /* Verde para el icono de éxito */
  }
  
  .error {
    color: #dc3545; /* Rojo para el icono de error */
  }
  
  
  .file-uploader.uploaded {
    border: 2px solid #218838;
    background-color: #e6f9e6;
  }
  
  .file-input {
    display: none;
  }
  
  .file-name {
    font-size: 14px;
    font-weight: bold;
    margin-top: 8px;
  }
  
  .file-uploader.error {
    border: 2px solid #dc3545;
    background-color: #f8d7da;
  }

  .file-uploader p {
    font-family: 'Arial', sans-serif; /* Ajusta según la fuente de la imagen */
    font-weight: bold;
    color: #034d19; /* Color similar al de la imagen */
    text-align: center;
  }
  
  